<%# OVERRIDE Hyrax gem v5.2.0 hyrax/base/_member_of_collections.html.erb (Hyku %>
<%# v7.1.0 does not ship its own copy): relabel "Member of Collections" as %>
<%# "Member of User Collections", distinct from the PortfolioItemCollection work type. %>
<tr>
  <td>Member of User Collections</td>
  <td>
    <ul class="member_of_collections">
      <% presenter.member_of_collection_presenters.each do |p| %>
        <li><%= link_to p.to_s, main_app.collection_path(p.id), class: 'collection-link' %></li>
      <% end %>
    </ul>
  </td>
</tr>
